/* O fundo do banner */

.bg {
  min-width: 10px;
  min-height: 320px;
  background-image: url("../images/banner.png");
  margin-left: -200px;
  margin-top: -30px;
  background-position: center;
  background-size: cover;
  margin-bottom: -320px;
  transition: margin-left 0.2s ease;
}

/* Efeito transparente por cima do banner */

.bg-transparent {
  min-width: 10px;
  min-height: 320px;
  background-color: rgba(31, 27, 22, 0.8);
  margin-left: -200px;
  margin-top: -30px;
  background-position: center;
  margin-bottom: -320px;
}

/* Efeito parallax ao passar o mouse */

#welcome-div:hover .bg {
  margin-left: -100px;
}
